# Credenciales exclusivas para desarrollo local
MYSQL_DATABASE=rentar_db
MYSQL_USER=rentar_user
MYSQL_PASSWORD=replace_with_your_password
MYSQL_ROOT_PASSWORD=replace_with_your_root_password
MYSQL_PORT=3306

